dd a { white-space: nowrap; }
dl { display: table; margin: 8px 4px; }
dt, dd { display: table-cell; vertical-align: top; }
dt { width: 160px; }
dd { margin: 0px; }

pre { margin: 0px; }

.apptmpl-content { padding: 8px 16px; }
.apptmpl-content a { color: #428bca; text-decoration: none; }
.apptmpl-content a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.container { margin: 4px 8px; }

.label {
	font-weight: bold; text-align: center; white-space: nowrap;
	background-color: #999; border-radius: 3px;
	color: #fff;
	padding: 4px 8px;
	display: inline-block;
}
.label-info { background-color: #5bc0de; }
.label-primary { background-color: #428bca; }
.label-success { background-color: #5cb85c; }
.label-warning { background-color: #f0ad4e; }
.label-danger { background-color: #d9534f; }

.nav, .nav > li { display: inline; padding: 0px; }
.nav > li { margin: 2px 8px; }
.nav > li > a > .badge { 
	font-size: 70%;
	background-color: #999;
	color: #fff;
	border-radius: 10px;
	padding: 3px 7px;
	margin-left: 3px;
	display: inline-block;
}

.nav-tabs { display: table; }
.nav-tabs > li {
	display: table-cell;
	border-bottom: 1px solid #aaa;
	border-radius: 4px 4px 0 0;
}
.nav-tabs > li.active {
	border: 1px solid #aaa;
	border-bottom: none;
	box-shadow: none;
	background-color: transparent;
}
.nav-tabs > li > a {
	padding: 8px 16px;
	display: block;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.nav-tabs > li > a:hover {
	background-color: #ddd;
	text-decoration: none;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: #428bca;
	cursor: default;
}

.nav-pills > li > a {
	background-color: transparent;
	padding: 4px 8px;
	text-decoration: none;
	border-radius: 5px;
	white-space: nowrap;
	display: inline-block;
}
.nav-pills a:hover {
	background-color: #ddd;
	text-decoration: none;
}

.nav-pills > li.active > a { color: #fff; background-color: #428bca; }
.nav-pills > li.active > a > .badge { color: #428bca; background-color: #fff; }

.nowrap { white-space: nowrap; }
.hidden { display: none; }
