<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Inventory" type="gov.alaska.dggs.igneous.model.Inventory" />
		<typeAlias alias="Borehole" type="gov.alaska.dggs.igneous.model.Borehole" />
		<typeAlias alias="Prospect" type="gov.alaska.dggs.igneous.model.Prospect" />
		<typeAlias alias="Keyword" type="gov.alaska.dggs.igneous.model.Keyword" />
		<typeAlias alias="KeywordGroup" type="gov.alaska.dggs.igneous.model.KeywordGroup" />
		<typeAlias alias="iCollection" type="gov.alaska.dggs.igneous.model.Collection" />
		<typeAlias alias="Unit" type="gov.alaska.dggs.igneous.model.Unit" />
		<typeAlias alias="CoreDiameter" type="gov.alaska.dggs.igneous.model.CoreDiameter" />
		<typeAlias alias="Well" type="gov.alaska.dggs.igneous.model.Well" />
		<typeAlias alias="Outcrop" type="gov.alaska.dggs.igneous.model.Outcrop" />
		<typeAlias alias="Quadrangle" type="gov.alaska.dggs.igneous.model.Quadrangle" />
		<typeAlias alias="MiningDistrict" type="gov.alaska.dggs.igneous.model.MiningDistrict" />
		<typeAlias alias="File" type="gov.alaska.dggs.igneous.model.File" />
		<typeAlias alias="FileType" type="gov.alaska.dggs.igneous.model.FileType" />
		<typeAlias alias="Shotpoint" type="gov.alaska.dggs.igneous.model.Shotpoint" />
		<typeAlias alias="Shotline" type="gov.alaska.dggs.igneous.model.Shotline" />
		<typeAlias alias="Project" type="gov.alaska.dggs.igneous.model.Project" />
		<typeAlias alias="Publication" type="gov.alaska.dggs.igneous.model.Publication" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/igneous"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="inventory.xml" />
		<mapper resource="container.xml" />
		<mapper resource="borehole.xml" />
		<mapper resource="prospect.xml" />
		<mapper resource="well.xml" />
		<mapper resource="mining_district.xml" />
		<mapper resource="outcrop.xml" />
		<mapper resource="quadrangle.xml" />
		<mapper resource="keyword.xml" />
		<mapper resource="corediameter.xml" />
		<mapper resource="file.xml" />
		<mapper resource="publication.xml" />
		<mapper resource="shotpoint.xml" />
		<mapper resource="quality.xml" />
		<mapper resource="audit.xml" />
		<mapper class="gov.alaska.dggs.igneous.SearchMapper" />
	</mappers>
</configuration>
